body {
	background-color: #afdfdf;/*#9aceeb;*/
	color: #444;
}

td {
	padding: 15px;		
}

hr {
	margin: 0;
}

.menu__item{
	font-size: 24px;
}

.top-menu {
	padding: 10px;
	font-size: 20px;	
}

.title {
	text-align: center;
	margin: 20px;
}

.center-block {		
	text-align: center;
	width: 50%;
}

.center-block__row {	
	text-align: center;
}


.left-block {
	position: absolute;
	margin: 0 20px;
}


.report-table {
	margin: 0 auto 5px;
	text-align: center;
	background-color: #ffd;
}

.form__input {
	border-radius: 5px;
	height: 35px;
	min-width: 100px;
}

.form__input_wide {
	width: 100%;
}

.form__select {
	border-radius: 5px;
	height: 35px;
}

.tree-structure{
	margin: 0 auto;
	text-align: left;
	background-color: #ffd;
	width: 50%;
	border-radius: 10px;
}

.errors{
	background-color: #ffbcad;
	color: #f34723;
	border: 1px solid #f34723;
	border-radius: 5px;
	font-size: 20px;
	display: inline-block;
	padding: 5px;
	margin: 5px;
}

